html,
body,
header,
#intro {
    height: 100%;
}

#intro {
    background: url("../img/final/benjamin-voros-phIFdC6lA4E-unsplash_1920x1280-min.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}